#masthead {
<<<<<<< Updated upstream
  width:100%;
=======
	width:100%;
>>>>>>> Stashed changes
	height:50px;
	background-color:#ddd;
}

#lead {
	width:100%px;
	height:330px;
	background-color:#eee;
	position:relative;
}

#lead_article {
<<<<<<< Updated upstream
	width:400px;
	height:330px;
	background-color:#ccf;
	position:absolute;
=======
	width:380px;
	height:310px;
	background-color:#ccf;
	position:absolute;
	padding:10px;
>>>>>>> Stashed changes
	top:0;
	left:0;
}

<<<<<<< Updated upstream
=======
#lead_article .imgPorthole {
	width:100%;
	height:250px;
	position:relative;
	overflow:hidden;
}

#lead_article img {
	position:relative;
	top:-20px;
	width:100%;
}

>>>>>>> Stashed changes
#now {
	width:400px;
	height:165px;
	background-color:#cfc;
	position:absolute;
	top:0;
	left:400px;
}

#here {
	width:624px;
	height:165px;
	background-color:#ffc;
	position:absolute;
	bottom:0;
	right:0;
}

.main_ad {
	width:224px;
	height:165px;
	background-color:#555;
	position:absolute;
	top:0;
	right:0;
}

.newspaper_section {
	background-color:#fcc;
	border-top:1px solid black;
	height:175px;
}
