#swiper_window {
  width:1024px;
  overflow:hidden;
}
.swiper_section {
  margin-bottom:5px;
  width:10000px;
  height:170px;
  overflow:hidden;
  border-top:1px solid #555;
  border-bottom:1px solid #555;
  background-color:#555;
}
.swiper_section h1 {
  display: none;
}
.swiper_section article {
  margin-right:5px;
  height:160px;
  float:left;
  width:165px;
  font-size:15px;
  /*background-color:blue;*/
  background-color: #444;
  color: white;
  padding: 5px;
}

.swiper_section article h2 {
  font-size: 15px;
  margin: 0px 0 5px 0;
}
.swiper_section article img {
  margin: 5px 0px 5px 10px;
  width:130px;
  height:110px;
}
